.container-new-incident {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-new-incident .content {
    width: 100%;
    padding: 96px;
    background-color: #f0f0f5;
    box-shadow:  0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-new-incident section {
    width: 100%;
    max-width: 380px;
}
.container-new-incident section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}
.container-new-incident section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}
.container-new-incident .content form {
    width: 100%;
    max-width: 450px;
}
.container-new-incident .content form input,
.container-new-incident .content form textarea {
    margin-top: 8px;
}